html(lang="en")
    head
        include fragments/head
    body
        script 0
        header 
            include fragments/header
        main 
            div.aside.body-section.shadow
                include fragments/aside
            div.items-main.body-section.shadow
                include fragments/main
        