<!DOCTYPE html>
<html lang="en">
  <%- include('fragments/head') %>
  <body>
    <header><%- include('fragments/header') %></header>
    <main>
      <div class="aside body-section shadow">
        <%- include('fragments/aside') %>
      </div>
      <div class="items-main body-section shadow">
        <%- include('fragments/main') %>
      </div>
    </main>
  </body>
</html>
