@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

:root {
  --text: #050315;
  --bg: #f9f7f7;
  --primary: #dbe2ef;
  --secondary: #3f72af;
  --accent: #112d4e;
  --textcontrast: #64d97b;
  --bgcontrast: #64d97b;
  --primarycontrast: #64d97b;
  --secondarycontrast: #ffdd00;
  --accentcontrast: #64d97b;
  --text5: hsl(247, 75%, 5%, 5%);
  --text10: hsl(247, 75%, 5%, 10%);
  --text15: hsl(247, 75%, 5%, 15%);
  --text20: hsl(247, 75%, 5%, 20%);
  --text25: hsl(247, 75%, 5%, 25%);
  --text30: hsl(247, 75%, 5%, 30%);
  --text35: hsl(247, 75%, 5%, 35%);
  --text40: hsl(247, 75%, 5%, 40%);
  --text45: hsl(247, 75%, 5%, 45%);
  --text50: hsl(247, 75%, 5%, 50%);
  --text55: hsl(247, 75%, 5%, 55%);
  --text60: hsl(247, 75%, 5%, 60%);
  --text65: hsl(247, 75%, 5%, 65%);
  --text70: hsl(247, 75%, 5%, 70%);
  --text75: hsl(247, 75%, 5%, 75%);
  --text80: hsl(247, 75%, 5%, 80%);
  --text85: hsl(247, 75%, 5%, 85%);
  --text90: hsl(247, 75%, 5%, 90%);
  --text95: hsl(247, 75%, 5%, 95%);
  --primary5: hsl(219, 38%, 90%, 5%);
  --primary10: hsl(219, 38%, 90%, 10%);
  --primary15: hsl(219, 38%, 90%, 15%);
  --primary20: hsl(219, 38%, 90%, 20%);
  --primary25: hsl(219, 38%, 90%, 25%);
  --primary30: hsl(219, 38%, 90%, 30%);
  --primary35: hsl(219, 38%, 90%, 35%);
  --primary40: hsl(219, 38%, 90%, 40%);
  --primary45: hsl(219, 38%, 90%, 45%);
  --primary50: hsl(219, 38%, 90%, 50%);
  --primary55: hsl(219, 38%, 90%, 55%);
  --primary60: hsl(219, 38%, 90%, 60%);
  --primary65: hsl(219, 38%, 90%, 65%);
  --primary70: hsl(219, 38%, 90%, 70%);
  --primary75: hsl(219, 38%, 90%, 75%);
  --primary80: hsl(219, 38%, 90%, 80%);
  --primary85: hsl(219, 38%, 90%, 85%);
  --primary90: hsl(219, 38%, 90%, 90%);
  --primary95: hsl(219, 38%, 90%, 95%);
  --secondary5: hsl(213, 47%, 47%, 5%);
  --secondary10: hsl(213, 47%, 47%, 10%);
  --secondary15: hsl(213, 47%, 47%, 15%);
  --secondary20: hsl(213, 47%, 47%, 20%);
  --secondary25: hsl(213, 47%, 47%, 25%);
  --secondary30: hsl(213, 47%, 47%, 30%);
  --secondary35: hsl(213, 47%, 47%, 35%);
  --secondary40: hsl(213, 47%, 47%, 40%);
  --secondary45: hsl(213, 47%, 47%, 45%);
  --secondary50: hsl(213, 47%, 47%, 50%);
  --secondary55: hsl(213, 47%, 47%, 55%);
  --secondary60: hsl(213, 47%, 47%, 60%);
  --secondary65: hsl(213, 47%, 47%, 65%);
  --secondary70: hsl(213, 47%, 47%, 70%);
  --secondary75: hsl(213, 47%, 47%, 75%);
  --secondary80: hsl(213, 47%, 47%, 80%);
  --secondary85: hsl(213, 47%, 47%, 85%);
  --secondary90: hsl(213, 47%, 47%, 90%);
  --secondary95: hsl(213, 47%, 47%, 95%);
  --accent5: hsl(212, 64%, 19%, 5%);
  --accent10: hsl(212, 64%, 19%, 10%);
  --accent15: hsl(212, 64%, 19%, 15%);
  --accent20: hsl(212, 64%, 19%, 20%);
  --accent25: hsl(212, 64%, 19%, 25%);
  --accent30: hsl(212, 64%, 19%, 30%);
  --accent35: hsl(212, 64%, 19%, 35%);
  --accent40: hsl(212, 64%, 19%, 40%);
  --accent45: hsl(212, 64%, 19%, 45%);
  --accent50: hsl(212, 64%, 19%, 50%);
  --accent55: hsl(212, 64%, 19%, 55%);
  --accent60: hsl(212, 64%, 19%, 60%);
  --accent65: hsl(212, 64%, 19%, 65%);
  --accent70: hsl(212, 64%, 19%, 70%);
  --accent75: hsl(212, 64%, 19%, 75%);
  --accent80: hsl(212, 64%, 19%, 80%);
  --accent85: hsl(212, 64%, 19%, 85%);
  --accent90: hsl(212, 64%, 19%, 90%);
  --accent95: hsl(212, 64%, 19%, 95%);

  --static: rgba(225, 225, 225, 0.5);
  --static4: rgba(225, 225, 225, 0.2);
  --static3: rgb(255, 255, 255);
  --static2: #0f0f0f;
  --static5: rgb(24, 172, 122);
  --static6: rgba(0, 0, 0, 0.05);
  --static7: rgba(0, 0, 0, 0.1);
  --static8: rgba(0, 0, 0, 0.05);
  --static9: rgba(0, 0, 0, 0.3);
  --static10: rgba(225, 225, 225);
  --static11: rgba(0, 0, 0, 0.03);
  --static12: rgba(255, 255, 255, 0.8);
  --static13: rgb(235, 235, 235);
  --static14: rgba(0, 0, 0, 0.2);
  --static15: rgba(255, 255, 255, 0.5);
}
* {
  color: var(--text);
}
body {
  font-family: "Inter";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.053rem; /* 48.8px */
}

h2 {
  font-size: 2.442rem; /* 39.04px */
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

small {
  font-size: 0.8rem; /* 12.8px */
}
