<h1>aside</h1>
<ul>
<% if (locals.categoriesResult) { %>
 <% categoriesResult.forEach(element => { %>
    <li><a href="/category/<%= element.id %>"><%= element.name %></a></li>
 <% }) %>
<% } %>
</ul>