<form class="category-form shadow" action="/addCategory" method="post">
  <input
    class="category-input"
    type="text"
    name="categoryName"
    id="categoryName"
  />
  <button class="button category-submit" type="submit">Add Category</button>
</form>

<% if (locals.categoriesResult) { %> <% categoriesResult.forEach(element => { %>
<% if (locals.selectedCategory && selectedCategory == element.id) { %>
<div class="category-link-container selected-category">
  <a class="category-link" href="/category/<%= element.id %>"
    ><%= element.name %></a
  >
</div>
<% } else { %>
<div class="category-link-container">
  <a class="category-link" href="/category/<%= element.id %>"
    ><%= element.name %></a
  >
</div>

<% } %> <% }) %> <% } %>
