form(class='category-form shadow' action='/category/addCategory' method='post')
    input(class='category-input' type='text' name='categoryName' id='categoryName')
    if locals.errors 
        -const caterror = errors.find(error=>error.path == 'categoryName')
        if caterror
            small(class='error-message')=caterror.msg
    button(class='button category-submit' type='submit') Add Category
if locals.categoriesResult
    each category in categoriesResult
        - let sel_cat = false
        if locals.selectedCategory && selectedCategory == category.id 
            - sel_cat = true
        div(class={
            "category-link-container-selected": sel_cat==true, 
            "category-link-container": sel_cat==false})
            if locals.editCategory && locals.editCategory == category.id
                form(action="saveCategory" method='post')
                    input(type="text" id='categoryID' name='categoryID' value=`${category.id}` ) 
                    input(type="text" id='categoryName' name='categoryName' value=`${category.name}` ) 
                    button(type='submit') Save 
                    a(href='/category/'+category.id) Cancel

            else
                a(class={
                    "category-link-selected": sel_cat==true, 
                    "category-link": sel_cat==false} 
                    href='/category/'+category.id)=category.name
                a(href='/category/'+category.id+'/edit')
                    button edit
                a(href='/category/'+category.id+'/delete')
                    button delete 
