<li class="item-card-container shadow">
  <div class="item-photo">
    <img src="/images/placeholder-image.png" alt="" />
  </div>
  <div class="item-details">
    <h5><%= item.name %></h5>
    <p  class="items-right">$<%= item.price %></p>
    <p><span>by </span><%= item.make %></p>

    <p class="items-right"><%= item.quantity %> <span>item(s) left</span></p>
  </div>
</li>
