if addItem
    include item-edit-form
else
    div.item-card-container.shadow
        a(href="/item/addItem/")
            button.item-add-button
                h1 +
    //- form(class="item-card-container shadow" action="addItem" method="post")
    //-     button(class="item-add-button" type="submit")
    //-         h1 +