if locals.editItem && item.id == editItem
    include item-edit-form
else
    li.item-card-container.shadow 
        .item-photo 
            img(src='/images/placeholder-image.png')
        .item-details 
            h5=item.name 
            p.items-right= '$'+item.price 
            p <span>by</span> #{item.make}
            p.items-right #{item.quantity} <span>item(s) left</span>
            a(href="/item/editItem/"+item.id)
                img(src='/images/pencil.svg')
            a(href="/item/deleteItem/"+item.id)
                img(src='/images/trash.svg')

                
            //- button(onclick="history.back()")