<ul>
    <% if (locals.itemsResult) { %>
     <% itemsResult.forEach(element => { %>
        <li><p><%= element.name %></p>
         <!-- <img src="images/placeholder-image.png" alt=""> -->
      </li>
     <% }) %>
    <% } %>
    </ul>